.container {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(375px) {
        width: calc(100% - 40px);
    }
    @include breakpoint(1280px) {
        max-width: 1240px;
    }
    &.container-mb-fluid {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        @include breakpoint(375px) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include breakpoint(1280px) {
            max-width: 1240px;
        }
    }
}
.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(375px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}