header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 5;
	&.scroll {
		background-color: $black;
	}
	.container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	a {
		display: block;
		&.logo {
			img {
				width: auto;
				height: 30px;
				@include breakpoint(375px) {
					height: 35px;
				}
				@include breakpoint(1024px) {
					height: 40px;
				}
			}
		}
	}
}

.hamburger {
	position: relative;
	margin-right: 20px;
	width: 18px;
	height: 15px;
	cursor: pointer;
	z-index: 1;
	@include breakpoint(1024px) {
		display: none;
	}
	span {
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $white;
		@include opacity(1);
		@include rotate(0deg);
		@include transition(0.25s linear);
		@include transform-origin(left, center);
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 6px;
		}
		&:nth-child(3) {
			top: 12px;
		}
	}
	&.active {
		span {
			&:nth-child(1) {
				@include rotate(45deg);
			}
			&:nth-child(2) {
				@include opacity(0);
			}
			&:nth-child(3) {
				top: 13px;
				@include rotate(-45deg);
			}
		}
	}
}
nav {
	ul {
		@include list(0, 0, none);
		font-size: 0;
		li {
			display: inline-block;
			vertical-align: middle;
			margin-left: 3rem;
			a {
				color: $white;
				font-size: 1.6rem;
				&:hover {
					color: $yellow;
				}
			}
		}
	}
}
